@model AddBandVM

@{
    ViewBag.Title = "Add Band";
}

<form asp-controller="BandController" asp-action="AddBand">
    <label asp-for="Name"></label>
    <input asp-for="Name"/>
    
    <input type="submit" value="Add Band"/>
    <span asp-validation-for="Name"></span>
</form>


@section scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}
