@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BandsApp.Web.Models.Band
<!DOCTYPE html>
    <html>
    <head>
        <title>Add Band</title>
    </head>
    <body>
        <h1>Add Band</h1>
        <form asp-controller="BandController" asp-action="AddBand">
            <label asp-for="Name"></label>
            <input asp-for="Name"/>
            
            <input type="submit" value="Add Band"/>
        </form>
        <span asp-validation-for="Name"></span>
    </body>
    </html>
