@model IndexVM

@{
    ViewBag.Title = "Bands";
}

<ul>
    @foreach (var band in Model.Bands)
    {
        <li>@band.Name</li>
    }
</ul>
<a asp-controller="bands" asp-action="addband">Add Band</a>